// ======================================
//  Button Styles
// ======================================

%btn {
  border-radius: .35em;
  color: $white;
  display: inline-block;
  font-weight: bold;
  padding: .75em 1.5em;
  text-decoration: none;
  text-transform: uppercase;
  transition: opacity .3s;

  &:hover {
    color: $white;
    opacity: .8;
  }

  &:active {
    opacity: initial;
  }
}

.btn {
  &-callout {
    @extend %btn;
    background-color: $color-secondary;
    font-size: 1.1em;
  }

  &-info {
    @extend %btn;
    background-color: $color-primary;
    font-size: .85em;
    margin-top: auto;
  }
}
