// VARIABLES ------------------------------------ /

$white: #fff;

$color-primary: #278da4;
$color-secondary: #b13c69;
$color-accent: #eeea72;
$color-shade: #eee;

$color-text: #343434;
$color-bg: #3acec2;
$color-bg-light: #009fe1;

$font-stack-primary: 'Raleway', sans-serif;
$font-stack-secondary: 'Bree Serif', serif;

$max-width: 1000px;

// MIXINS ----------------------------- /

@mixin skewed {
  position: relative;
  &::after {
    content: '';
    display: block;
    height: 50px;
    position: absolute;
    transform: skewY(-2deg);
    width: 100%;
    @content;
  }
}

@mixin center {
  width: 90%;
  max-width: $max-width;
}

// /* BASE ------------------------------------------- */

* {
  box-sizing: border-box;
}

body {
  color: $color-text;
  font-family: $font-stack-primary;
  font-size: 1rem;
  line-height: 1.5;
  margin: 0;
  text-align: center;
}

h1,
h2 {
  font-family: $font-stack-secondary;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

p {
  margin-bottom: 1.25em;

  .intro & { //makes "intro p"
    font-size: 1.2em;
  }
}

// /* HEADER & FOOTER -------------------------------- */

header {
  background: linear-gradient($color-bg-light, $color-bg), url('../img/bg.jpg') no-repeat;
  background-blend-mode: multiply;
  background-size: cover;
  height: 460px;

  @include skewed {
    background-color: $white;
    bottom: -25px;
  }

  h1 {
    color: $white;
    font-size: 4.8em;
    letter-spacing: 1px;
    margin-bottom: 0;
  }

  p {
    color: $color-accent;
    font-size: 1.25em;
    margin: 0;
  }
}

footer {
  background-color: $color-shade;
  height: 100px;
  margin-top: 3.5em;
  padding: 2em 0 0;

  @include skewed {
    background-color: $color-shade;
    top: -25px;
  }
}

// /* CONTAINERS ------------------------------------- */

.inner {
  padding: .5em 1em;
}

.intro {
  margin: auto;
  padding: 1em 1em 3em;
}

// /* COMPONENTS ------------------------------------- */

.main-nav {
  margin-top: 1em;

  li {
    display: inline-block;
    margin: 0 .65em;
  }

  a {
    color: $white;
    font-size: .85em;
    padding: .5em;
    text-decoration: none;
    text-transform: uppercase;
    transition: .3s;

    &:hover {
      color: $color-accent;
    }
  }
}

.img-featured {
  border: 4px solid $white;
  border-radius: 50%;
  margin-top: 75px;
  position: relative;
  width: 165px;
  z-index: 100;
}

.card {
  border: 1px solid $color-shade;
  border-radius: .25em;
  display: flex;
  flex-direction: column;
  padding: 1.5em 1em;

  h1 {
    line-height: 1.25;
    margin: .35em 0 0;
  }

  .icon,
  h1 {
    color: $color-primary;
  }
}

.btn {
  border-radius: .35em;
  color: $white;
  display: inline-block;
  font-size: .85em;
  font-weight: bold;
  padding: .75em 1.5em;
  text-decoration: none;
  text-transform: uppercase;

  &-callout {
    background-color: $color-secondary;
    font-size: 1.1em;
  }

  &-info {
    background-color: $color-primary;
    font-size: .85em;
    margin-top: auto;
  }
}


// /* MEDIA QUERIES ---------------------------------- */

@media (max-width: 575px) {
  header {
    height: 340px;

    h1 {
      font-size: 3.4em;
    }
  }

  .img-featured {
    display: none;
  }
}

@media (min-width: 576px) {
  .main-content {
    display: flex;
    flex-wrap: wrap;
  }

  .card {
    flex: 1;
  }
}

@media (min-width: 768px) {
  .main-content {
    @include center;
    margin: 0 auto;
  }
}

@media (min-width: 992px) {
  header {
    background-position: 0 0, 0 45%;
  }

  .intro {
    width: 45%;
  }
}
