%clearfix {
  &::after {
    clear: both;
    content: '';
    display: table;
  }
}

%btn {
  border-radius: .35em;
  color: $white;
  display: inline-block;
  font-weight: bold;
  padding: .75em 1.5em;
  text-decoration: none;
  text-transform: uppercase;

  &:hover {
    color: $white;
    opacity: .8;
  }

  &:active {
    opacity: initial;
  }
}
