// =========================================
//  Mixins
// =========================================

// Slanted effect
@mixin skewed {
  position: relative;

  &::after {
    content: '';
    display: block;
    height: 50px;
    position: absolute;
    transform: skewY(-2deg);
    width: 100%;
    @content;
  }
}

// Center containers
@mixin center {
  margin-left: auto;
  margin-right: auto;
  max-width: $max-width;
  width: 90%;
}

// Media Queries
@mixin mq($break) {
  @if $break == 'xs' {
    @media (max-width: $break-xs) {
      @content;
    }
  } @else if $break == 'sm' {
      @media (max-width: $break-s) {
        @content;
      }
  } @else if $break == 'med' {
    @media (max-width: $break-m) {
      @content;
    }
  } @else if $break == 'lg' {
    @media (max-width: $break-l) {
      @content;
    }
  }
}
